html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1d1d;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 36px auto auto;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

a.link {
  color: inherit;
  display: block;
  font-family: "Arial Black";
  color: #d80d0d;
  min-width: 100px;
  text-align: center;
  font-size: 1em;
}

.codes {
  font-family: monospace;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1d1d1d;
  border-radius: 4px;
}

h1 {
  margin: 24px 8px;
  font-size: 5em;
}

.qr-code {

}

.qr-code img {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 185px;
  width: 185px;
}
